<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel"/>
  </configSections>
  <sitecore>
    <databases>
      <database id="master" type="Sitecore.Data.Database, Sitecore.Kernel" singleInstance="true">
        <param desc="name">$(id)</param>
      </database>
    </databases>
  </sitecore>
</configuration>